@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/naver/NanumSquareRound.css');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    background-color: rgb(249 249 249);
}

/* background */
@layer components {
  main.background {
    @apply flex bg-gradient-to-t to-[#7ACFF3] from-[#259DD0] min-h-[calc(100vh-93px)]  min-w-[1440px] justify-between items-center
  }
  main.background section {
    @apply flex flex-col items-center justify-center w-2/4 ml-28
  }
  main.background section p {
    @apply font-extrabold text-4xl text-white
  }
  main.background section span {
    @apply text-base font-normal text-white
  }
  main.background section img {
    @apply mt-5 w-[586px] h-48
  }
}

/* header */
@layer components {
    header.header {
        @apply flex justify-between items-center py-1 pl-12 pr-14 border-b border-b-[theme(colors.gray.50)]
    }
    header.header nav {
        @apply flex justify-start items-center gap-4
    }
    header.header nav a {
      @apply block w-[120px] text-center text-base font-medium -tracking-[0.2px] text-[theme(colors.secondary)]
    }
    header.header nav a:first-of-type img {
        @apply h-[2.938rem]
    }
    header.header button {
        @apply text-[theme(colors.main)] text-base font-medium -tracking-[0.2px] rounded-md border border-[theme(colors.gray.50)] w-[120px] h-10
    }
    header.header button:hover {
        @apply bg-[#E7E7E745]
    }
}

/* footer */
@layer components {
    footer.footer {
        @apply relative bottom-0 left-0 bg-white w-full px-[111px] border-t border-t-[theme(colors.separate)]
    }
    footer.footer aside {
        @apply flex pb-16 pt-20
    }
    footer.footer aside > div {
        @apply w-40 mr-[108px] last-of-type:mr-0
    }
    footer.footer aside div h4 {
        @apply text-base font-medium text-[theme(colors.title)] font-[theme(fontFamily.inter)] mb-5
    }
    footer.footer aside > div a {
        @apply block text-xs font-medium text-[theme(colors.link)] mb-6 last-of-type:mb-0
    }
    footer.footer aside > div:first-of-type {
        @apply mr-[283px]
    }
    footer.footer aside > div:first-of-type > img {
        @apply w-[117px] h-[59px]
    }
    footer.footer aside > div:first-of-type h4 {
        @apply text-base font-medium text-[theme(colors.title)] font-[theme(fontFamily.inter)] mt-6
    }
    footer.footer aside > div:first-of-type div {
        @apply flex gap-2 mt-2
    }
    footer.footer aside > div:first-of-type div a {
        @apply inline-flex items-center justify-center w-10 h-10 bg-[theme(colors.sns)] text-center rounded-full
    }
    footer.footer aside > div:first-of-type div a img {
        @apply text-xs
    }
    footer.footer p {
        @apply font-[theme(fontFamily.inter)] text-sm font-medium text-[theme(colors.link)] pt-[30px] pb-[34px] border-t border-t-[theme(colors.separate)]
    }
}

/* form */
@layer components {
    form.form {
        @apply py-7 px-[46px] w-full gap-1 mr-[150px] max-w-[450px] bg-white flex flex-col items-center rounded shadow-[0px_12px_24px_0px_#00000014]
    }
    form.form > div:first-of-type {
        @apply flex flex-col items-center w-full
    }
    form.form > div:first-of-type img {
        @apply w-[87px] h-11
    }
    form.form > div:first-of-type h3 {
        @apply font-[theme(fontFamily.roboto)] font-bold text-[26px] leading-[41px] tracking-[0.15px] text-[theme(colors.main)] mt-[8.5px]
    }
    form.form > div:first-of-type p {
        @apply font-[theme(fontFamily.roboto)] w-full text-sm leading-[22px] tracking-[0.3px] text-[theme(colors.main)] mt-[15.5px]
    }
    form.form button {
        @apply bg-[theme(colors.main)] text-white w-full h-12 rounded-lg
    }
}

/* input, select, textarea */
@layer components {
    label.input, 
    label.select, 
    label.textarea {
        @apply flex flex-col w-full gap-2
    }
    label.input span, 
    label.select span, 
    label.textarea span {
        @apply text-[theme(colors.label)] font-medium text-xs leading-[18px] font-[theme(fontFamily.roboto)] block
    }

    label.input input, 
    label.select select, 
    label.textarea textarea {
        @apply border border-[theme(colors.input-border)] placeholder:text-[theme(colors.placeholder)] rounded-lg h-10 px-4 font-normal tracking-[0.5px] text-xs leading-[26px]
    }
}

/* input */
@layer components {
    label.input input {
        @apply  disabled:bg-disabled
    }
}

/* select */
@layer components {
    label.select select {
        @apply appearance-none bg-no-repeat bg-[right_9px_center] bg-[url('@/assets/icons/select_arrow.svg')]
    }
}

/* select */
@layer components {
    label.textarea textarea {
        @apply min-h-40 max-h-40
    }
}