@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/naver/NanumSquareRound.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    background-color: rgb(249 249 249);
}

/* background */
@layer components {
  main.background {
    @apply flex bg-gradient-to-t to-[#7ACFF3] from-[#259DD0] min-h-[calc(100vh-93px)]  min-w-[1440px] justify-between items-center
  }
  main.background section {
    @apply flex flex-col items-center justify-center w-2/4 ml-28
  }
  main.background section p {
    @apply font-extrabold text-4xl text-white
  }
  main.background section span {
    @apply text-base font-normal text-white
  }
  main.background section img {
    @apply mt-5 w-[586px] h-48
  }
}

/* header */
@layer components {
    header.header {
        @apply flex justify-between items-center py-1 pl-12 pr-14 border-b border-b-[theme(colors.gray.50)]
    }
    header.header nav {
        @apply flex justify-start items-center gap-4
    }
    header.header nav a {
      @apply block w-[120px] text-center text-base font-medium -tracking-[0.2px] text-[theme(colors.secondary)]
    }
    header.header nav a:first-of-type img {
        @apply h-[2.938rem]
    }
    header.header button {
        @apply text-[theme(colors.main)] text-base font-medium -tracking-[0.2px] rounded-md border border-[theme(colors.gray.50)] w-[120px] h-10
    }
    header.header button:hover {
        @apply bg-[#E7E7E745]
    }
}

/* footer */
@layer components {
    footer.footer {
        @apply relative bottom-0 left-0 bg-white w-full px-[111px] border-t border-t-[theme(colors.separate)]
    }
    footer.footer aside {
        @apply flex pb-16 pt-20
    }
    footer.footer aside > div {
        @apply w-40 mr-[108px] last-of-type:mr-0
    }
    footer.footer aside div h4 {
        @apply text-base font-medium text-[theme(colors.title)] font-[theme(fontFamily.inter)] mb-5
    }
    footer.footer aside > div a {
        @apply block text-xs font-medium text-[theme(colors.link)] mb-6 last-of-type:mb-0
    }
    footer.footer aside > div:first-of-type {
        @apply mr-[283px]
    }
    footer.footer aside > div:first-of-type > img {
        @apply w-[117px] h-[59px]
    }
    footer.footer aside > div:first-of-type h4 {
        @apply text-base font-medium text-[theme(colors.title)] font-[theme(fontFamily.inter)] mt-6
    }
    footer.footer aside > div:first-of-type div {
        @apply flex gap-2 mt-2
    }
    footer.footer aside > div:first-of-type div a {
        @apply inline-flex items-center justify-center w-10 h-10 bg-[theme(colors.sns)] text-center rounded-full
    }
    footer.footer aside > div:first-of-type div a img {
        @apply text-xs
    }
    footer.footer p {
        @apply font-[theme(fontFamily.inter)] text-sm font-medium text-[theme(colors.link)] pt-[30px] pb-[34px] border-t border-t-[theme(colors.separate)]
    }
}

/* form */
@layer components {
    form.form {
        @apply py-7 px-[46px] w-full gap-1 mr-[150px] max-w-[450px] bg-white flex flex-col items-center rounded shadow-[0px_12px_24px_0px_#00000014]
    }
    form.form > div:first-of-type {
        @apply flex flex-col items-center w-full
    }
    form.form > div:first-of-type img {
        @apply w-[87px] h-11
    }
    form.form > div:first-of-type h3 {
        @apply font-[theme(fontFamily.roboto)] font-bold text-[26px] leading-[41px] tracking-[0.15px] text-[theme(colors.main)] mt-[8.5px]
    }
    form.form > div:first-of-type p {
        @apply font-[theme(fontFamily.roboto)] w-full text-sm leading-[22px] tracking-[0.3px] text-[theme(colors.main)] mt-[15.5px]
    }
    form.form button {
        @apply bg-[theme(colors.main)] text-white w-full h-12 rounded-lg
    }
}

/* input, select, textarea */
@layer components {
    label.input, 
    label.select, 
    label.textarea {
        @apply flex flex-col w-full gap-2
    }
    label.input span, 
    label.select span, 
    label.textarea span {
        @apply text-[theme(colors.label)] font-medium text-xs leading-[theme(spacing[4.5])] font-[theme(fontFamily.roboto)] block
    }

    label.input input, 
    label.select select, 
    label.textarea textarea {
        @apply border border-[theme(colors.input-border)] placeholder:text-[theme(colors.placeholder)] rounded-lg h-10 px-4 font-normal tracking-[0.5px] text-xs leading-[26px]
    }
}

/* input */
@layer components {
    label.input input {
        @apply  disabled:bg-disabled
    }
}

/* select */
@layer components {
    label.select select {
        @apply appearance-none bg-no-repeat bg-[right_9px_center] bg-[url('@/assets/icons/select_arrow.svg')]
    }
}

/* select */
@layer components {
    label.textarea textarea {
        @apply min-h-40 max-h-40
    }
}

/* checkbox */
@layer components {
    div.checkbox {
        @apply flex items-center w-full cursor-pointer
    }
    div.checkbox > input {
        @apply hidden
    }
    div.checkbox > span {
        @apply mr-[theme(spacing[1.5])] border rounded-sm block w-6 h-6
    }
    div.checkbox > label {
        @apply font-[theme(fontFamily.roboto)] text-[13px] leading-5 text-gray-500
    }
}

/* recaptcha */
@layer components {
    div.recaptcha {
        @apply h-14 w-full rounded-lg bg-[theme(colors.bg)] border border-[#E0E0E0] flex justify-between items-center px-[30px]
    }
    div.recaptcha > div > span {
        @apply mr-2 border rounded-sm block !w-4 !h-4
    }
    div.recaptcha > div > label {
        @apply !text-xs !leading-4 text-gray-950
    }
    div.recaptcha img {
        @apply h-8
    }
}

/* service header */

@layer components {
    header.service-header {
        @apply py-[11px] pr-[61px] pl-[103px] bg-white min-w-[1440px] border-b border-b-[#E1E3E1]
    }
    header.service-header nav {
        @apply flex items-center
    }
    header.service-header nav a {
        @apply mr-[77px]
    }
    header.service-header nav a img {
        @apply w-[85px] h-[42px]
    }
}

/* search input */
@layer components {
    div.search-input {
        @apply py-[13px] pl-[13px] pr-5 mr-[133px] flex items-center justify-between h-12 w-full max-w-[500px] border-2 border-[theme(colors.search-border)] bg-[theme(colors.search-bg)] rounded-[9px]
    }
    div.search-input input {
        @apply p-0 border-0 focus:border-0 focus-visible:border-0 focus:ring-0 w-full h-full placeholder:text-[theme(colors.neutral.default)] bg-transparent
    }
}

/* header button */
@layer components {
    button.header-btn {
        @apply py-3 px-3.5 rounded-xl border-2 border-[theme(colors.header-btn-border)]
    }
}

/* badge */
@layer components {
    span.badge {
        @apply absolute -top-2 -right-3 text-sm leading-4 -tracking-[0.323px] font-bold font-[theme(fontFamily.inter)] text-white bg-[theme(colors.badge)] px-2 py-1 rounded-[10px]
    }
}

/* button group */
@layer components {
    div.btn-group {
        @apply bg-main text-white rounded-xl inline-flex items-center
    }
    div.btn-group > button {
        @apply py-3 px-5 whitespace-nowrap
    }
}

/* dropdown */
@layer components {
    div.dropdown {
        @apply relative
    }
    div.dropdown > button {
        @apply py-3 px-5 whitespace-nowrap
    }
    div.dropdown > button span {
        @apply mr-5
    }
    div.dropdown > button > svg {
        @apply inline-block
    }
    div.dropdown .dropdown-opts {
        @apply bg-white absolute right-0 mt-[theme(spacing[2.5])] z-20 drop-shadow-md w-64 py-[theme(spacing[3.5])] px-2 rounded-2xl;
        box-shadow: 0px 32px 48px -8px #0000001A;
        box-shadow: 0px 0px 14px -4px #0000000D;
        box-shadow: 0px 40px 64px -12px #00000014;
    }
    div.dropdown .dropdown-opts > a {
        @apply whitespace-nowrap w-full m-0 px-[theme(spacing[3.5])] py-[15px] rounded-[theme(spacing[2.5])] text-[theme(colors.dropdown-text)] text-sm leading-6 flex items-center gap-[theme(spacing[1.5])] font-[theme(fontFamily.inter)] hover:bg-[theme(colors.dropdown-hover-bg)] hover:bg-slate-50
    }
}

/* alert wrapper */
@layer components {
    aside.alert-wrapper {
        @apply absolute bg-white top-12 right-0 mt-1.5 w-[660px] h-[636px] rounded-2xl;
        box-shadow: 0px 32px 48px -8px #0000001A;
        box-shadow: 0px 0px 14px -4px #0000000D;
        box-shadow: 0px 40px 64px -12px #00000014;
    }
    aside.alert-wrapper .alert-header {
        @apply px-6 pt-3 flex flex-col
    }
    aside.alert-wrapper .alert-header h1 {
        @apply text-[theme(colors.lnb-hover-text)] leading-8 text-left text-xl font-[theme(fontFamily.inter)] font-semibold 
    }
    aside.alert-wrapper .alert-header > p {
        @apply flex justify-between items-center
    }
    aside.alert-wrapper .alert-header > p span, aside.alert-wrapper .alert-header > p button {
        @apply text-[theme(colors.alert-description)] text-xs font-normal leading-6 font-[theme(fontFamily.inter)]
    }
    aside.alert-wrapper hr {
        @apply border-[theme(colors.alert-hr)]
    }
    aside.alert-wrapper ul li {
        @apply py-2 px-3 border-t border-t-[theme(colors.alert-border)] first-of-type:border-t-0
    }
    aside.alert-wrapper > ul li > div {
        @apply flex items-center relative hover:bg-[theme(colors.dropdown-hover-bg)] p-3 rounded-[theme(spacing[2.5])]
    }
    aside.alert-wrapper > ul li > div > span:first-of-type { /* alert icon */
        @apply rounded-full inline-block p-4
    }
    aside.alert-wrapper > ul li > div > span:last-of-type.alert-check { /* alert check icon */
        @apply bg-[#29ABE2] absolute right-3 rounded-full py-[7px] px-[theme(spacing[1.5])]
    }
    aside.alert-wrapper > ul li > div > div {
        @apply flex flex-col items-start gap-1 ml-3
    }
    aside.alert-wrapper > ul li > div > div > span { /* alert title, description */
        @apply text-[theme(colors.alert-description)] text-xs font-medium leading-6 font-[theme(fontFamily.inter)]
    }
    aside.alert-wrapper > ul li > div > div > p > span:first-of-type {
        @apply inline-block text-[theme(colors.dropdown-text)] text-sm leading-6 font-bold font-[theme(fontFamily.inter)] mr-1
    }
    aside.alert-wrapper > ul li > div > div > p > span:last-of-type {
        @apply inline-block text-[theme(colors.alert-description)] font-normal text-xs leading-6
    }

}

/* LNB */
@layer components {
    aside.lnb {
        @apply bg-white pt-[13px] pb-[theme(spacing[4.5])] px-2 rounded-xl w-[266px] h-fit mt-[37px] mb-[57px] ml-[83px]
    }
    aside.lnb ul {
        @apply flex flex-col
    }
    aside.lnb ul li {
      @apply flex flex-col text-[theme(colors.alert-description)] mb-[theme(spacing[3.5])]
    }
    aside.lnb ul li hr {
        @apply border-[theme(colors.header-btn-border)] rounded-[1px] mb-3
    }
    aside.lnb ul li div,
    aside.lnb ul li a {
        @apply font-semibold font-[theme(fontFamily.inter)] text-[15px] leading-6 -tracking-[0.323px]
    }
    aside.lnb ul li div {
        @apply py-3 px-1
    }
    aside.lnb ul li a {
        @apply text-[theme(colors.dropdown-text)] mx-[1px] p-3 rounded-lg hover:bg-[theme(colors.lnb-hover)] hover:text-[theme(colors.lnb-hover-text)] active:bg-[theme(colors.lnb-hover)] active:text-[theme(colors.lnb-hover-text)]
    }
}

/* section card */
@layer components {
    div.section-card {
      @apply bg-white rounded-xl w-full pt-6 pb-3 px-3 ml-[30px] first-of-type:mt-[37px]
    }
    div.section-card h2 { /* section card header */
        @apply ml-3 mb-6 text-[theme(colors.lnb-hover-text)] text-xl font-semibold leading-8 font-[theme(fontFamily.inter)] flex items-center
    }
    div.section-card h2 span { /* section card header */
        @apply bg-[#B1E5FC] rounded w-4 h-8 inline-block mr-4
    }
}

/* wallet info */
@layer components {
    li.wallet-info__card {
        @apply bg-white rounded-xl flex-1 min-h-[108px];
        box-shadow: 0px 4px 8px -4px #00000040;
    }
    li.wallet-info__card .wallet-info__card-header {
        @apply py-2 px-4 flex justify-between items-center
    }
    li.wallet-info__card .wallet-info__card-header span {
        @apply text-[#33383F] font-semibold text-[13px] leading-5 font-[theme(fontFamily.inter)]
    }
    li.wallet-info__card .wallet-info__card-header a {
        @apply font-[theme(fontFamily.inter)] text-[theme(colors.main)] font-medium text-xs leading-5
    }
    li.wallet-info__card hr {
        @apply bg-[theme(colors.gray100)]
    }
    li.wallet-info__card .wallet-info__card-content {
        @apply flex flex-col gap-1 px-[theme(spacing[2.5])] py-[theme(spacing[1.5])]
    }
    li.wallet-info__card .wallet-info__card-content li {
        @apply min-h-[22px] leading-[22px] flex items-start gap-2 text-[theme(colors.info-content)] text-xs font-normal font-[theme(fontFamily.inter)]
    }
    li.wallet-info__card .wallet-info__card-content li span {
        @apply w-[22px] min-w-[22px] h-[22px] bg-[theme(colors.lnb-hover)] rounded inline-flex justify-center items-center
    }
}

/* tab */
@layer components {
    div.tab {
        @apply text-center border-b border-b-neutral-300
    }
    div.tab ul {
        @apply flex
    }
    div.tab ul li {
        @apply px-4 font-medium leading-6 text-lg text-[#79808F] cursor-pointer hover:text-main hover:border-b-main
    }
}

/* table function bar */
@layer components {
    div.table-function-bar {
        @apply px-6 py-[9px] flex justify-between items-center border border-[theme(colors.header-btn-border)] border-l-0 border-r-0
    }
    div.table-function-bar form {
        @apply flex items-center gap-2
    }
    div.table-function-bar form button[type="submit"] {
        @apply border border-[theme(colors.main)] w-20 h-10 py-2 px-4 rounded text-[#5EC0E9] text-sm leading-5 font-semibold font-[theme(fontFamily.manrope)]
    }
    div.table-function-bar button[type="button"] {
        @apply flex gap-2 items-center h-10 px-3 py-2 border border-[theme(colors.btn-border)] rounded text-[theme(colors.download-btn-text)] text-sm leading-5 font-semibold font-[theme(fontFamily.manrope)] float-right
    }
}

/* date-picker */
@layer components {
    label.date-picker {
        @apply flex items-center justify-center gap-1 relative border border-[theme(colors.date-picker-border)] w-[114px] h-10 bg-white rounded text-sm leading-5 font-medium text-[theme(colors.date-picker-text)] font-[theme(fontFamily.manrope)]
    }
    label.date-picker input {
        @apply p-0 opacity-0 absolute top-0 z-10 w-full h-full
    }
    label.date-picker input[type="date"]::-webkit-calendar-picker-indicator {
        @apply w-full h-full
    }
    span.date-range-symbol {
        @apply bg-[#D9D9D9] rounded-[3px] h-[2px] w-[theme(spacing[2.5])] -mx-[2px]
    }
}

/* table search input */
@layer components {
    label.search-input {
        @apply px-4 py-2 h-10 w-64 rounded border border-[theme(colors.header-btn-border)] flex items-center
    }
    label.search-input input {
        @apply p-0 border-0 focus:border-0 focus-visible:border-0 focus:ring-0 w-full h-full text-[theme(colors.gray.800)] placeholder:text-[theme(colors.date-picker-textl)] text-xs font-medium leading-[theme(spacing[2.5])] bg-transparent
    }
}

/* table search select */
@layer components {
    select.search-select {
        @apply w-[104px] h-10 p-3 rounded border border-[theme(colors.header-btn-border)] focus:border-[theme(colors.header-btn-border)] focus-visible:border-[theme(colors.header-btn-border)] focus:ring-0 text-[theme(colors.gray.800)] placeholder:text-[theme(colors.date-picker-textl)] text-xs font-medium leading-[theme(spacing[2.5])] appearance-none bg-no-repeat bg-[right_9px_center] bg-[url('@/assets/icons/select_icon.svg')]
    }
}

/* table */
@layer components {
    div.data-table__wrapper {
        @apply w-full overflow-scroll
    }
    table.data-table {
        @apply w-max min-w-full font-[theme(fontFamily.manrope)] text-xs -tracking-[0.223px] text-[theme(colors.dropdown-text)]
    }
    table.data-table thead {
        @apply border-b border-b-[theme(colors.header-btn-border)] h-12
    }
    table.data-table thead tr th {
        @apply font-medium leading-3 -tracking-tight text-left px-2 first-of-type:pl-6 last-of-type:pr-6
    }
    table.data-table tbody tr {
        @apply even:bg-[theme(colors.info-wrapper)] h-14
    }
    table.data-table tbody tr td {
        @apply py-2 px-2 first-of-type:pl-6 last-of-type:pr-6
    }
}
/* table pagination */
@layer components {
    div.pagination-wrapper {
        @apply flex items-center justify-center gap-[2px] mx-auto w-[256px]
    }
    div.pagination-wrapper button {
        @apply w-[34px] h-[34px] rounded px-2 py-1 bg-[#F1F2F6] text-[#8B909A] inline-flex justify-center items-center font-normal text-[13px]
    }
}
